<div class="row">
    <div class="col-lg-12">
        <app-card cardTitle="Fin 0#A Invoice Exception" cardClass="card-datatable" [options]="false">
            <form>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control form-control-primary" name="isActive">
                                <option value="Y">Select</option>
                                <option value="Y">Johor</option>
                                <option value="N">Melaka</option>

                            </select>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>District</label>
                            <select class="form-control form-control-primary" name="isActive">
                                <option value="Y">Select</option>
                                <option value="Y">Kluang</option>
                                <option value="N">Mersing</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <!-- <label>District</label> -->
                            <button class="btn btn-primary" style="margin-top: 25px; margin-left: 20px;">Reset
                                All</button>
                        </div>
                    </div>
                </div>



            </form>
        </app-card>
        <app-card cardClass="card-datatable" [options]="false">
            <button class="btn btn-primary float-right btn-md btn-tall btn-wide" style="margin-top: -50px;z-index: 50;"
                (click)="radioSelect()" [disabled]="buttonEnableBoolean">
                View</button>
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th> MMYYYY</th>
                            <th> State </th>
                            <th> District </th>
                            <th> Clinic Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of listDatas;let i = index">
                            <td>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" [id]="customRadio(data.id)"
                                        [checked]="data.selected" name="example1" (change)="buttonEnable(data.id)">
                                    <label class="custom-control-label" [for]="customRadio(data.id)"></label>
                                </div>
                            </td>
                            <td> {{data.month}} / {{data.year}} </td>
                            <td> {{data.stateName}}</td>
                            <td> {{data.districtName}} </td>
                            <td> {{data.clinicType}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </app-card>
    </div>
</div>